* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top5.png);
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow:  2px  2px 10px #777 ,
             -2px  2px 10px #777 ,
              2px -2px 10px #777 ,
             -2px -2px 10px #777;
}


.top-wrapper p {
  font-size: 20px;
  margin-bottom: 40px;
}
.event-name{
  font-size: 30px;
  font-weight: bold;
}

.covid-19{
  color: orange;

}

.sns-wrapper{
  text-align: center;
  display: inline-block;
}
.sns-wrapper a{
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
}
.sns-wrapper a:hover{
  opacity: 1;
}
.signup {
  background-color: #239b76;
}

.icon {
  display: block;
  width: 80px;

}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  color: white;
  display: inline-block;
}

.header-left span{
  font-size: 20px;
  font-weight: bold;

}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.wrapper2 {
  padding: 80px 0 400px 0;

}

.wrapper2 h1{
  text-align: center;
}

.wrapper2 .container{
  margin-right: 30px;
}




footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}




@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  /* .top-wrapper .btn {
    width: 100%;
  } */

  /* .twitter {
    margin-top: 10px;
  } */

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

}
